.container {
  margin-left: 150px;
  margin-right: 150px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: #e6e6e6 solid 1px;
}

h1 {
  margin: 60px 0 30px;
  font-size: 30pt;
  line-height: 1;
  font-weight: 200;
  color: #333333;
  text-align: center;
}